<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReflowController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReflowController.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="baudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="databits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="stopbits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="firmwarepath" serializeAs="String">
                <value />
            </setting>
            <setting name="programmerpath" serializeAs="String">
                <value />
            </setting>
            <setting name="editorpath" serializeAs="String">
                <value />
            </setting>
        </ReflowController.Properties.Settings>
    </userSettings>
</configuration>